:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --gray-text-color: #757575;
  --background-hero: #2f303a;
  --background-gradient-color: rgba(47, 48, 58, 0.4);
  --white-color: #fff;
  --black-color: #000;
  --background-gray-color: #f5f4fa;
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
  --button-hero-active: #188ce8;
  --icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --form-focus: #2196f3;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
header {
  border-bottom: 1px solid var(--border-header);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.logo__link {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo__text {
  color: var(--accent-color);
}
ul {
  list-style: none;
}
.navigation {
  margin-left: 93px;
}

.navigation__list,
.contacts__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__link {
  color: var(--gray-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  }

.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  line-height: 1;
  color: var(--main-text-color);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus,
.contacts__link:hover,
.contacts__libk:focus,
.navigation__link--active {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 46px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.hero {
  background-color: var(--background-hero);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      var(--background-gradient-color),
      var(--background-gradient-color)
    ),
    url(../images/background-hero.jpg);
}
.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 696px;
}

.hero__btn,
.submit__btn {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.hero__btn:focus,
.submit__btn:hover,
.submit__btn:focus {
  background-color: var(--button-hero-active);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  display: block;
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--white-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  justify-content: end;
  padding: 8px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__heading {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.label {
  display: block;
  position: relative;
  color: var(--gray-text-color);
  text-align: left;
  margin-bottom: 10px;
}
.label__coment {
  margin-bottom: 20px;
}
.label__input,
.coment__area {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.label__input {
  padding-left: 42px;
  padding-right: 12px;
  height: 40px;
}

.coment__area {
  display: block;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;
}
.label__input:focus,
.coment__area:focus {
  border: 1px solid var(--form-focus);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label__input:focus + .label__icon {
  fill: var(--form-focus);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.coment__area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.label__title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.license__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
  text-align: center;
  user-select: none;
}
.license__link {
  color: var(--form-focus);
}
.license__icons--checked {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.license {
  margin-bottom: 30px;
}
.license__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.license__checkbox:checked + .license__icons .license__icons--checked {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.license__checkbox:checked + .license__icons .license__icons--unchecked {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label__icon {
  position: absolute;
  left: 12px;
  top: 28px;
}
.close__btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  background-color: var(--white-color);
}
.close__btn:hover,
.close__btn:focus {
  fill: var(--accent-color);
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__btn {
  background-color: var(--background-gray-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn--all {
  padding-left: 25px;
  padding-right: 25px;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features__list {
  display: flex;
}
.features__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}
.features__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-text-color);
  letter-spacing: 0.03em;
}
.features__icon {
  height: 120px;
  background-color: var(--background-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.services__section {
  padding-top: 0;
}

.services__list {
  display: flex;
}
.services__card {
  margin-right: 30px;
  justify-content: center;
}
.services__card:last-child {
  margin-right: 0;
}
.services__thumb {
  position: relative;
}
.services__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.services__titlebox {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
}

.team.section {
  background-color: var(--background-gray-color);
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
}
.team__card {
  background-color: var(--white-color);
  text-decoration: none;
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:last-child {
  margin-right: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team__name {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
  margin-bottom: 16px;
}
.team__about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social__list{
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: currentColor;
}
.button.list {
  display: flex;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio__title {
  border: 1px solid var(--border-portfolio);
  border-top: none;
  padding: 20px 24px;
}
.portfolio__link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__overlay {
  display: flex;
  align-items: center;
  padding: 0 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text {
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
footer {
  background-color: var(--background-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
}

.address__link {
  color: var(--gray-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo--white,
.address__link--white {
  color: var(--white-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.clients__list {
  display: flex;
}
.icon {
  fill: currentColor;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__container {
  display: flex;
  align-items: baseline;
}
.social {
  margin-right: 93px;
}
.social__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--white-color);
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer.social__link {
  color: var(--white-color);
  background-color: var(--footer-icon-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer.social__link:hover,
.footer.social__link:focus {
  background-color: var(--accent-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts {
  margin-right: 70px;
}
.subscription {
  display: block;
  position: relative;
}
.subscription__label {
  display: block;
  margin-bottom: 20px;
}

.subscription__input {
  width: 358px;
  height: 50px;
  background-color: var(--background-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.btn-subscription {
  display: inline-flex;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subscription:hover,
.btn-subscription:focus {
  background-color: var(--button-hero-active);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__text{
  margin-right: 10px;
}
.subscription__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscription__input {
  padding: 15px 16px;
  color: var(--white-color);
  outline: transparent;
}
.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus-within {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
